@import "tailwindcss";

.flip-page table {
  table-layout: fixed;
  width: 100%;
}

.flip-page table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.9s ease-out forwards;
}

 @keyframes draw-line {
    from {
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
    }
    to {
      stroke-dasharray: 600;
      stroke-dashoffset: 0;
    }
  }

  @keyframes slideUpBreadcrumb {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideUpBreadcrumb {
    animation: slideUpBreadcrumb 0.8s ease-out forwards;
  }